<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{Title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>DashConnect</h3>

  <p>
    Para mais informações acesse <a href="https://github.com/Bertoncini/DashConnect">DashConnect</a>.
  </p>

  <ion-fab bottom right>
    <button ion-fab mini (click)="openConfigPage()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-card *ngIf="(selectedItem?.Grafico === 'barraH') || (selectedItem?.Grafico === 'barraV')">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'bolha'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #bubbleCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'linha'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'mix'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #mixedCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(selectedItem?.Grafico === 'pizza') || (selectedItem?.Grafico === 'rosca')">
    <ion-card-header>
      {{selectedItem?.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'polar'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #polarCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'radar'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #radarCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="selectedItem?.Grafico === 'scatter'">
    <ion-card-header>
      {{selectedItem.NameRel}}
    </ion-card-header>
    <ion-card-content>
      <canvas #scatterCanvas></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>